{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Réservation{% endblock %}
	
{% block body %}

	
	
		<h1>Bienvenue sur la billetterie en ligne du musée du Louvre</h1>

		<p>Premier formulaire a placer ici avec: </p>
			<ul>
				<li>Date de visite</li>
				<li>Type de billet</li>
				<li>nombre de billets</li>
				<li>Coordonnees de contact (nom, prenom, email)</li>
			</ul>

		<h3>Formulaire Reservation</h3>

		<div class="well">
		  {{ form(form, { 'attr' : { 'class': 'form-horizontal'} }) }}
				  
		</div>

{% endblock %}
