{% extends 'LouvreBookingBundle::layout.html.twig' %}


{% block title %}{{ parent() }} - Accueil{% endblock %}
    
{% block body %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="{{ type ? type : '' }}">
                        <div class="alert alert-danger">
                        {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        

    <div class="well col-sm-offset-3 col-sm-6">
        <h2>Bienvenue sur le billetterie en ligne du musée du Louvre</h2>
        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    </div>
{% endblock %}
